li {
    color: lightcoral;
    margin-right: 15px;
}

li span {
    font-size: 20px;
    color: black;
}

.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    padding: 20px 20px 5px;
}

.image {
    border-radius: 25%;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}

.title {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 1.5rem;
    font-weight: 900;
}

.caloriesP {
    font-weight: bold;
    font-size: 24px;
}